body {
    background-color: rgb(25, 68, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

h1 {
    font-size: 5em;
    font-weight: 500;
    font-family: "walter",sans-serif;
    color: white;
}