body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

h1{
    font-family: 'Digital';
    font-size: 9em;
    color:aquamarine;
}

/* allura-regular - latin */
@font-face {
    font-family: 'Digital';
    font-weight: 10;
    src: url('../fonts/digital-7\ \(italic\).ttf');
    src: local(''),
         url('../fonts/digital-7\ \(italic\).ttf') 
         url('../fonts/digital-7\ \(mono\ italic\).ttf') 
         url('../fonts/digital-7\ \(mono\ italic\).ttf') 
         url('../fonts/digital-7\ \(mono\).ttf')
  }