
*{
    margin: 0;
    padding: 0;
}
.box{
    display:inline-block;
    width: 370px;
    margin: 30px;
    vertical-align: top;
    padding: 30px;

}
.img-100{
    width: 100%;
}
h1, h2{
    text-align: center;
    padding: 5px;
}
p{
    text-align: justify;
}